* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
 
  
  }
  
  body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% auto;
  
  
  }
  
  header {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
  }
  
  .header1 {
    font-size: 1rem;
  text-align: center;
  width: 50%

  }
  
  .paragraf {
    font-size: 1.2rem;
    text-align: center;
    text-align: justify;
    width: 50%
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .allpics {
    width: 33.33%;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
    gap: 1rem;
  }
  
  .allpics img {
    width: 85%;
    margin-bottom: 10%;
    box-shadow: 10px 10px 20px black;
    border-radius: 0.5rem;
  }
  .pic-1,
  .pic-4{
    margin-top: 3rem;
    width:85%;
    position: relative;
    
    max-width: 250px;
   
  }
  .pic-3 ,
  .pic-6 {
    width:85%;
    position: relative;

    max-width: 250px;
  }

  
  .pic-2,
  .pic-5 {
    margin-top: 6rem;
    width: 85%;
    position: relative;
    max-width: 250px;
  }

  
  .job {
    writing-mode: vertical-rl;
    transform: translate(240px, -280px);   
    font-size: 15px;  
  }
  
  

  .name {
    margin-top: 1.5rem;
    margin: 2px;
    font-size: 15px;   
    font-weight: bold;
  }
  
 .allpics:hover {
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.9;
  } 
  .allpics:hover img {
    transition: box-shadow 1s ;
    box-shadow: 8px 8px 10px rgb(24, 23, 23);
  }
  
  @media screen and (max-width: 1090px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .header1 {
      width: 100%;
      margin-bottom: 2rem;
    }
  
    .paragraf {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .allpics {
      width: 50%;
    }
  
    .pic-1,
    .pic-3,
    .pic-5 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  
    .pic-2,
    .pic-4,
    .pic-6 {
      margin-top: 0;
      margin-top: 6rem;
    }
  }
  
  @media screen and (max-width: 740px) {
    .allpics {
      width: 100%;
    }
  
    body {
      margin: 0;
      padding: 3rem;
      width: 100%;
      min-width: 300px;
    }
  
    .pic-1,
    .pic-2,
    .pic-3,
    .pic-4,
    .pic-5,
    .pic-6 {
      margin-top: 0;
      margin-bottom: 3rem;
    }
  
    .paragraf {
      padding-left: 2rem;
    }
  }
  